<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="page-logo">
        <img
          src="{{ url_for('static', filename='img/logo.png') }}"
          alt="logo"
        />
        <h1>Upload Your Image</h1>
      </div>
      <div class="trans-head-btn">
        <a
          href="{{ url_for('dashboard_display') }}"
          class="header-btn"
          id="db-btn"
          ><img
            class="db-img"
            src="{{ url_for('static', filename='img/history.png') }}"
        /></a>
        <a href="{{ url_for('home') }}" class="header-btn"> &#x2190; </a>
      </div>
    </header>
    <main>
      <h3>
        Upload an image file (.png, .jpg, .webp, .jpeg) you would like to
        extract text from
      </h3>
      <form method="POST" enctype="multipart/form-data">
        <div class="upload-img-wrapper">
          <input type="file" name="image" accept="image/*" />
        </div>
        <button id="upload-img-btn" class="btn" type="submit">Upload</button>
      </form>
      {% if transcript %}
      <div class="uploaded-img-wrapper">
        <p><b>Text:</b> {{ transcript }}</p>
      </div>
      <form
        class="form-inline"
        method="POST"
        action="{{ url_for('translate') }}"
      >
        <div class="form-group">
          <div class="input-group">
            <div></div>
            <div>
              <span class="input-group-addon">Output Language:</span>
              <select name="output" class="selectpicker form-control">
                {% for o in out %}
                <option value="{{ o.lang }}">{{ o.lang }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-default" id="translate-btn">
            Translate
          </button>
        </div>
      </form>
      {% endif %}
    </main>
  </body>
</html>
