<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="page-logo">
        <img
          src="{{ url_for('static', filename='img/logo.png') }}"
          alt="logo"
        />
        <h1>Speech-to-text Translation</h1>
      </div>
      <div class="trans-head-btn">
        <a
          href="{{ url_for('dashboard_display') }}"
          class="header-btn"
          id="db-btn"
          ><img
            class="db-img"
            src="{{ url_for('static', filename='img/history.png') }}"
        /></a>
        <a href="{{ url_for('home') }}" class="header-btn"> &#x2190; </a>
      </div>
    </header>
    {% if error %}
    <div class="error-body">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <strong>Sorry!</strong> The file you upload can't be recognized. Please
        try again.
        <a
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
          href="{{ url_for('home') }}"
        >
          <span aria-hidden="true">X</span>
        </a>
      </div>
    </div>
    {% else %}
    <main>
      <div class="result">
        <div class="stt">
          <h1 class="result-hd">Most Recent Input</h1>
          <p class="result-txt">{{transcript}}</p>
          <audio controls class="trans-audio">
            {% set text = transcript %} {% set lang = 'en' %}
            <source src="{{ sayit(lang, text)}}" />
          </audio>
        </div>
        <img
          src="{{ url_for('static', filename='img/arrow.png') }}"
          alt="arrow symbol"
          id="arrow"
        />
        <div class="stt">
          <h1 class="result-hd" id="readIt">Translation ({{ out }})</h1>
          <p class="result-txt">{{in_out}}</p>
          <audio controls class="trans-audio">
            {% set text = in_out %} {% set lang = t %}
            <source src="{{ sayit(lang, text)}}" />
          </audio>
        </div>
      </div>

      <div class="result">
        <div class="stt" id="poss-resp">
          <h1 class="result-hd">Possible Response</h1>
          <p class="result-txt">{{ resp_transl }}</p>
        </div>

        <div class="stt" id="resp-transl">
          <h1 class="result-hd">Response in {{ out }}</h1>
          <p class="result-txt">{{ resp }}</p>
        </div>
      </div>
    </main>
    {% endif %}
  </body>
</html>
